.content_blog{
	.content_page__boxes{
		margin-top:0px;
		.container{
			background-color:transparent;
		}

		&__box{
			background-color:$light-gray;
			margin-bottom:30px;
		}

		.blog_filters{
			position:relative;
			display: block;margin-bottom:20px;
			&:after{
				content:'';
				display:block;
				clear:both;
			}

			@media screen and (max-width:$mobile){
				max-width:90%;
				margin:auto auto 30px;
			}

			&__filters,&__search{
				display:block;
				position:relative;
				float:left;
				box-sizing:border-box;
				text-align:left;
			}
			&__filters{
				width:75%;
				@media screen and(max-width:$filter-break){
					width:50%;
				}
				@media screen and(max-width:$sub-portrait){
					width:100%;
					text-align:left;
					margin-top:20px;
				}

				ul{
					display: block;
					position:relative;
					margin:10px 0px 0px 20px;
					padding:0px;
					list-style-type: none;

					@media screen and(max-width:$filter-break){
						display: none;
					}

					li{
						position:relative;
						display:inline-block;
						padding:0px 10px;
						border-right:1px solid $light-gray;

						&:last-child{
							border-right:none;
						}

						a{
							position:relative;
							color:$dark-gray;
							@include raleway();
							font-size:12px;
							display: inline-block;
							text-transform: uppercase;
							font-weight:600;
							text-decoration:none;

							&:after{
								position:absolute;
								display: block;
								content:'';
								left:50%;
								@include transform(translateX(-50%));
								bottom:-2px;
								height:2px;
								width:0px;
								background-color:$dark-blue;
								@include transition(all .2s linear);
							}

							&.active,&:hover{
								color:$dark-blue;

								&:after{
									width:100%;
								}
							}
						}
					}
				}
			}

			&__search{
				width: 25%;

				@media screen and(max-width:$filter-break){
					width:50%;
					text-align:right;
				}

				@media screen and(max-width:$sub-portrait){
					width:100%;
					text-align:left;
					margin-top:20px;
				}
			}
		}
	} 
}

.search_form{
	margin:0px;
	padding:0px;

	input,button{
		border:2px solid $dark-gray;
		font-size:14px;
		font-weight:600;
	}

	input[type=text]{
		padding:8px;
		width:70%;
		max-width:220px;
		box-sizing:border-box;

		@media screen and(max-width:$sub-portrait){
			width:calc(100% - 34px);
			max-width:100%;
		}

		@media screen and(max-width:$mobile){
			//max-width:486px;
		}

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  @include raleway();
		  font-color:$light-gray;
		  font-weight:600;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  @include raleway();
		  font-color:$light-gray;
		  font-weight:600;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  @include raleway();
		  font-color:$light-gray;
		  font-weight:600;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  @include raleway();
		  font-color:$light-gray;
		  font-weight:600;
		}
	}

	button{
		background-color:$dark-gray;
		color:$white;
		padding:8px;
		margin-left:-6px;
		cursor: pointer;
	}
}

body.blog{

	.blog_filters_select{
		display: none;
		@media screen and(max-width:$filter-break){
			display: block;
		}
	}

	.select2-container{
		width:70% !important;
		max-width:274px;

		@media screen and(max-width:$sub-portrait){
			width:100% !important;
			max-width:100%;
		}
	}

	.select2-container--default .select2-selection--single{
		@include border-radius(0px);
		border:2px solid $dark-gray;
		height:37px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		@include raleway();
		font-size:14px;
		padding-top:2px;
		font-weight:600;
		color:$dark-gray;
	}
	.select2-results__option{
		@include raleway();
		font-size:14px !important;
	}
	.select2-selection__arrow{
		background-color: $dark-gray;
		height: 34px !important;
		width: 34px !important;

		b{
			border-color: $white transparent !important;
		}
	}
}

.blog__content{

	padding-top:30px;

	&.content{

		h3{
			margin:18px 0px 16px;
		}

		p{
			margin:15px 0px;
			line-height:22px;
		}
	}

	.container:after{
		content:'';
		display: block;
		clear:both;
	}

	.col-75,.col-25{
		position:relative;
		display: block;
		float: left;
	}

	.col-75{
		width:73%;
		padding-right:2%;

		@media screen and (max-width:$sub-portrait){
			width:100%;
			padding-right:0%;
		}
	}

	.col-25{
		width:25%;

		@media screen and (max-width:$sub-portrait){
			display: none;
		}
	}

	&__img{
		position:relative;
		width:100%;
		padding-bottom:65%;
		background-size:cover;
		background-repeat:none;
		background-position:center center;
	}

	&__info{
		ul.info{
			list-style-type: none;
			margin:0px;
			padding:0px;

			li{
				color:$dark-blue;
				font-size:14px;
				font-weight:600;
				display: inline-block;
				margin-left:6px;

				&:first-child{
					margin-left:0px;
				}

				&:last-child{
					&:after{
						display: none;
					}
				}

				&:after{
					content:'|';
					display:inline-block;
					margin-left:6px;
					font-weight:400;
					color:$gray;
				}

				a{
					color:$dark-blue;
					text-decoration: none;
					&:hover{
						color: $dark-gray;
					}
				}
			}
		}
	}

	&__sidebar{
		box-sizing:border-box;

		h3{
			padding-bottom:8px;
			border-bottom:2px solid $dark-blue;
			margin-bottom:10px;
			margin-top:30px;
		}

		&__search{
			.search_form{
				input[type='text']{
					width:calc(100% - 34px);
					max-width:calc(100% - 34px);
				}
			}
		}

		a.btn-gray{
			display: inline-block;
			padding:8px 20px;
			border:2px solid $dark-gray;
			text-transform: uppercase;
			@include raleway();
			color: $dark-gray;
			font-weight:600;
			text-decoration: none;
			margin:10px 0px;

			@include transition(all .3s linear);

			&:hover{
				background-color:$dark-blue;
				color:$white;
				border-color:$dark-blue;
			}
		}
		
		ul{
			list-style-type: none;
			padding:0px;
			margin:20px 0px 10px 0px;
			box-sizing:border-box;

			li{
				padding:0px;
				margin:0px;
				box-sizing:border-box;
				display: block;

				a{
					display: block;
					position:relative;
					color:$dark-gray;
					font-weight:600;
					text-decoration: none;
					line-height:18px;
				    padding: 12px 10px 12px 36px;

					 &:before{
					 	content: '\f10c';
					    font-family: 'Elusive-Icons';
					    margin-right: 10px;
					    position: absolute;
					    left: 10px;
					    top: 11px;
					    color:$gray;
					 }

					&:hover{
						color:$dark-blue;
					}

					span.recent_date{
						display: block;
						color:$gray;
					}
				}
			}
		}

		&__tags{

			h3{
				margin-bottom:30px;
			}
			a{
				display: inline-block;
				padding:10px 14px;
				font-weight:600;
				margin:0px 4px 10px 0px;
				border:2px solid $gray;
				text-decoration: none;
				@include raleway();
				font-size:12px;
				color:$gray;
				@include transition(all .3s linear);

				&:hover{
					background-color:$dark-blue;
					color:$white;
					border-color:$dark-blue;
				}
			}
		}
	}


	#respond{
		margin-top:40px;
		h3{
			padding-bottom:10px;
			border-bottom:1px solid $gray;
		}

		input,textarea{
			width:100%;
			padding:10px;
			outline: none;
			width:100%;
			border:1px solid $gray;
			@include raleway();
			font-size:14px;
			color:$dark-gray;
			box-sizing:border-box;
		}

		input[type='submit']{
			background-color:$dark-blue;
			color:$white;
			text-transform: uppercase;
			font-weight:600;
			cursor: pointer;
			@include transition(all .3s linear);
			&:hover{
				background-color:$dark-gray;
			}
		}
	}

	.blog-social{
		margin-bottom:40px;
	}

	h3.comment-count{
		padding-bottom:10px;
		border-bottom:1px solid $gray;
		color:$dark-gray;
	}

	.comment{
		margin-top:40px;
		@include raleway();
		color:$dark-gray;
		font-size:12px;

		.comment-author.vcard,.comment-meta,p,.reply{
			padding-left:60px;
			position:relative;
		}

		p{
			font-size:12px;
		}

		.comment-author.vcard img.avatar{
			position:absolute;
			top:0px;
			left:0px;
		}

		span.says{
			display: none;
		}

		cite{
			display: block;
			font-style:normal !important;
			margin-bottom:8px;
			font-weight:600;
		}

		.comment-meta a{
			color:$dark-gray;
			text-decoration: none;
		}

		a{
			text-decoration: none;

			&.url{
				font-weight:600;
				color:$dark-gray;
			}

			&.comment-reply-link{
				color:$dark-blue;
				text-transform: uppercase;
				font-weight:600;
				display: inline-block;
				&:after{
					content:'\f10c';
					font-family: 'Elusive-Icons';
					margin-left: 8px;
				}
			}
		}
	}

}