body.how-we-can-help .content_page{
	padding-bottom:0px;
}

.content_page{

	&__down{
		a{
			text-decoration: none;
			font-size:42px;
			color:$dark-gray;
			@include transition(all .3s);
			cursor: pointer;

			&:hover{
				color: $dark-blue;
			}

		}
	}

	.content{
		p,ul li{
			@include raleway();
			color:$dark-gray;
			font-size:16px;
			line-height:26px;
		}
	}
	padding-bottom:60px;

	h2{
		.el-book{
			margin-right:10px;
		}
	}

	.hero{
		position:relative;
		display: block;
		width:100%;
		height:400px;
		background-color: #000;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;

		@media screen and (max-width:$landscape){
			height:300px;
		}

		@media screen and (max-width:$mobile){
			height:260px;
		}

		.container{
			height:100%;
		}

		&__title{
			position:absolute;
			left:30px;
			bottom:40px;
			color:#FFF;
			@include raleway();
			text-transform: uppercase;
			font-weight:900;
			font-size:38px;
			letter-spacing: 1px;

			@media screen and (max-width:$mobile){
				font-size:32px;
				left:0px;
				bottom:30px;
				width:100%;
				text-align:center;
			}
		}
	}

	&__intro{
		margin:60px 30px;
		text-align:center;

		&.down-scroll{
			margin:60px 30px 20px;
		}

		h2{
			margin:20px 0px;
			font-size:52px;
			color:$dark-blue;
			@include raleway();

			@media screen and (max-width:$landscape){
				font-size:36px;
			}
		}

		h3{
			font-size:24px;
			@include droid();
			color:$dark-gray;
			font-weight:400;

			@media screen and (max-width:$landscape){
				font-size:18px;
			}
		}
	}

	&__boxes{
		margin:60px 0px;
		text-align:center;

		&.archive{
			margin-top:0px;

			.content_page__boxes__box{
				margin-top:60px;
			}
		}

		.container{
			background-color:$light-gray;
			padding:30px 20px;

			@media screen and (max-width:$sub-portrait){
				width:65%;
				max-width:350px;
				padding:0px 20px;
			}

			@media screen and (max-width:$mobile){
				width:100%;
				max-width:100%;
				padding:0px 0px;
			}

			h2.box-header{
				
				font-size:52px;
				color:$dark-blue;
				margin: 10px auto;
				@include raleway();

				@media screen and (max-width:$landscape){
					font-size:36px;
					padding-bottom:20px;
					margin-top:0px;
				}

				@media screen and (max-width:$portrait){
					padding-top:20px;
					margin-bottom:0px;
					padding-bottom:0px;
				}

				svg{
					margin-right:10px;
					path{
						fill:$dark-blue;
					}
				}

				i{
					margin-right:10px;
				}
			}
		}

		&__box{
			position:relative;
			display: inline-block;
			padding:30px 30px 100px 30px;
			box-sizing:border-box;
			margin:40px 0 0 0;
			width:30%;
			background:#FFF;
			//height:510px;
			height:480px;
			vertical-align:top;
			text-decoration: none;

			&:hover{
				span.read_more{
					background-color:$dark-blue;
					color:$white;
				}
			}

			@media screen and (max-width:$landscape){
				height:440px;
				padding:10px 20px 30px;
			}

			@media screen and (max-width:$sub-portrait){
				width:100%;
				margin:20px 0 20px 0;
				height:auto;
				padding:30px 14px 80px 14px;
			}

			@media screen and (max-width:$mobile){
				width:90%;
				max-width:90%;
				padding:30px 30px 80px;
			}

			&:nth-child(even){
				margin:40px 2% 0;

				@media screen and (max-width:$sub-portrait){
					width:100%;
					margin:20px 0 20px 0;
				}
			}

			.img{
				position:relative;
				margin-top:-60px;

				@media screen and (max-width:$sub-portrait){
					margin-top: 10px;
				}

				img{
					width:100%;
					height:auto;
					margin:auto;
				}
			}

			h3{
				font-size:28px;
				margin:10px 0px;

				@media screen and (max-width:$landscape){
					font-size:22px;
				}

				@media screen and (max-width:$medium){
					font-size:18px;
					min-height:42px;
				}

				@media screen and (max-width:$landscape){
					font-size:22px;
				}
			}

			p{
				font-size:16px;
				line-height:26px;
				color:$dark-gray;

				@media screen and (max-width:$medium){
					font-size:14px;
					min-height:110px;
				}

				@media screen and (max-width:$landscape){
					font-size:16px;
				}

				@media screen and (max-width:$mobile){
					font-size:18px;
				}
			}

			.cta{
				position:absolute;
				width:100%;
				text-align:center;
				bottom:30px;
				left:0px;
			}

		}
	}

	&__reasons{
		padding:30px 30px 60px;
		box-sizing:border-box;
		position:relative;
		.container{
			@include clear();
		}

		&__img{
			position:relative;
			float:left;
			width:30%;

			@media screen and (max-width:$large){
				width:25%;
			}

			@media screen and (max-width:$sub-landscape){
				display: none;
			}

			img{
				width:100%;
				height:auto;
			}
		}

		&__bars{
			position:relative;
			float:left;
			width:66%;
			margin-left:4%;

			@media screen and (max-width:$large){
				width:70%;
			}

			@media screen and (max-width:$sub-landscape){
				width:100%;
				margin-left:0px;
			}

			h2{
				font-size:52px;
				margin:0px 0px 10px;

				@media screen and (max-width:$landscape){
					font-size:36px;
				}
			}

			&__items{
				position:relative;
				display: block;

				.bar{
					position:relative;
					margin-top:20px;

					p{
						margin:4px 0px 10px;
						color:$black;
						font-weight:600;

						@media screen and (max-width:$large){
							font-size:14px;
						}

						@media screen and (max-width:$sub-portrait){
							width:65%;
						}
					}

					.bar_bg{
						position:relative;
						display: block;
						width:100%;
						height:12px;
						background-color:$light-gray;
						overflow:hidden;

						.bar_fg{
							background-color:$dark-blue;
							width:100%;
							height:100%;
							position:absolute;
							@include transition(left 1s linear);

							&.off{
								left:-100% !important;
							}
						}
					}

					.tell_me{
						position:absolute;
						top:0px;
						right:0px;

						a{
							text-transform:uppercase;
							color:$gray;
							@include raleway();
							font-weight:600;

							@media screen and (max-width:$large){
								font-size:14px;
							}
						}
					}
				}
			}
		}
	}

	&__numbered{
		margin:40px 0px;

		.container{
			background-color:$light-gray;
			padding:30px 20px;
			text-align:center;
		}

		&__box{
			display: inline-block;
			vertical-align: top;
			width:28%;
			margin:0 2%;

			@media screen and (max-width:$sub-portrait){
				width:100%;
				max-width:400px;
				margin:0px;
			}

			span.num{
				@include raleway;
				font-size:32px;
				color:$dark-gray;
				font-weight:900;
			}

			p{
				font-size:18px;
				line-height:26px;
				color:$dark-gray;

				@media screen and (max-width:$medium){
					font-size:14px;
					min-height:110px;
				}

				@media screen and (max-width:$landscape){
					font-size:16px;
				}

				@media screen and (max-width:$mobile){
					font-size:18px;
				}
			}
		}
	}

	&__posts{

		.container{
			vertical-align: top;
			text-align:center;
		}

		&__post{
			position:relative;
			display: inline-block;
			width:30%;
			margin:0 1% 20px;
			padding-bottom:50px;
			vertical-align: top;
			min-height:560px;
			text-decoration: none;

			@media screen and (max-width:$landscape){
				min-height:530px;
			}

			@media screen and (max-width:$portrait){
				width:47%;
				min-height:540px;
			}

			@media screen and (max-width:$mobile){
				width:85%;
				min-height: 0px;
			}

			.img{
				position:relative;
				width:100%;
				padding-bottom:75%;
				background-size:cover;
				background-repeat:no-repeat;
				background-color:$dark-gray;
				background-position:center center;
			}

			h2,h4{
				text-align:left;
			}

			h2{
				margin-bottom:10px;
			}

			h4{
				@include droid();
				font-size:18px;
				font-style: italic;
				color:$dark-gray;
				margin-top:10px;

				@media screen and (max-width:$nav-break){
					font-size:14px;
				}
			}

			p{
				font-size:18px;
				line-height:26px;
				color:$dark-gray;
				text-align:left;

				@media screen and (max-width:$medium){
					font-size:14px;
					min-height:110px;
				}

				@media screen and (max-width:$landscape){
					font-size:16px;
				}

				@media screen and (max-width:$mobile){
					font-size:18px;
				}
			}

			a.read_more,span.read_more{
				position:absolute;
				left:0px;
				bottom:10px;
			}

			&:hover{
				span.read_more{
					background-color:$dark-blue;
					color:$white;
				}
			}
		}
	}

	&__carousel{
		background:$light-gray;
		margin-top:60px;

		.tp-bullets.custom{
			width:220px !important;
			margin-bottom:20px;

			.tp-bullet{
				width:60px;
				height:8px;
				background:$carousel-gray;
				@include border-radius(4px);

				&.selected{
					background:$dark-blue !important;
				}
			}
		}
	}

	&__jumpmenu{
		text-align:center;
		ul{
			list-style-type: none;
			margin:0px;
			padding:0px;
			width:100%;
			position:relative;

			li{
				display: inline-block;
				padding:10px 3%;
				border-right:3px solid $dark-gray;

				&:last-child{
					border-right:none;
				}

				@media screen and (max-width:$sub-landscape){
					padding:10px 2%;
				}

				@media screen and (max-width:$sub-portrait){
					border-right:none;
					display: block;
					padding:20px 0px;
				}

				a{
					@include droid();
					text-decoration: none;
					color:$dark-blue;
					font-size:32px;
					font-weight:600;

					@media screen and (max-width:$large){
						font-size:26px;
					}

					@media screen and (max-width:$sub-landscape){
						font-size:22px;
					}

					@media screen and (max-width:$sub-portrait){
						font-size:26px;
					}


					&.book:before{
						content:'\f118';
						font-family: 'Elusive-Icons';
						margin-right:10px;
					}

					&.podcast:before{
						content:'\f1a9';
						font-family: 'Elusive-Icons';
						margin-right:10px;
					}

					svg{
						margin-right:10px;
					}

					svg path{
						fill:$dark-blue;
					}

				}
			}
		}
	}

	&__image-left{

		&#the_book{
			margin-top:70px;
		}

		position:relative;
		display: block;
		text-align: left;
		@include clear();
		margin-bottom:30px;
		.img,.copy{
			position:relative;
			display: block;
			float:left;

			@media screen and (max-width:$sub-portrait){
				float:none;
			}
		}

		.img{
			width:38%;

			img{
				width:100%;
				height:auto;
				margin-bottom:30px;
			}

			@media screen and (max-width:$sub-portrait){
				width:60%;
				margin:auto;
			}
		}

		.copy{
			width:58%;
			margin-left:3%;

			@media screen and (max-width:$sub-portrait){
				width:70%;
				margin:0px auto 60px;
			}

			@media screen and (max-width:$mobile){
				width:90%;
			}

			h2{
				font-size:52px;
				margin:0px 0px 10px;

				@media screen and (max-width:$landscape){
					font-size:36px;
				}
			}

			h3{
				font-size:28px;
				margin:10px 0px;

				@media screen and (max-width:$landscape){
					font-size:22px;
				}

				@media screen and (max-width:$medium){
					font-size:18px;
					min-height:42px;
				}

				@media screen and (max-width:$landscape){
					font-size:22px;
				}
			}

			p{
				font-size:18px;
				line-height:26px;
				color:$dark-gray;

				@media screen and (max-width:$medium){
					font-size:14px;
					min-height:110px;
				}

				@media screen and (max-width:$landscape){
					font-size:16px;
				}

				@media screen and (max-width:$mobile){
					font-size:18px;
				}
			}
		}
	}

	&__seperator{
		position:relative;
		display: block;
		margin-top:-30px;
		margin-bottom:20px;


		.container{
			position:relative;
			text-align:center;
		}

		.bg-bar{
			position:absolute;
			width:100%;
			height:4px;
			top:50%;
			left:0px;
			@include transform(translateY(-50%));
			background-color:$light-gray;

			@media screen and (max-width:$sub-portrait){
				display: none;
			}
		}

		.sep-content{
			position:relative;
			display: inline-block;
			background:$white;
			padding:0px 20px;

			@media screen and (max-width:$large){
				min-width:40%;

				a.read_more{
					width:100%;
					box-sizing:border-box;
				}
			}

			@media screen and (max-width:$sub-portrait){
				min-width:80%;
				padding:0px 10px;
			}
		}
	}
}

.post_title_overlay{
	position:absolute;
	left:0px;
	top:0px;
	height:50%;
	width:100%;
	z-index:1;

	@media screen and (max-width:$sub-portrait){
		height:90%;
	}

	/* gradient */
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}