.content_page{
	.hero{
		position:relative;
		display: block;
		width:100%;
		height:400px;
		background-color: #000;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;

		@media screen and (max-width:$landscape){
			height:300px;
		}

		@media screen and (max-width:$mobile){
			height:260px;
		}

		.container{
			height:100%;
		}

		&__title{
			position:absolute;
			left:30px;
			bottom:40px;
			color:#FFF;
			@include raleway();
			text-transform: uppercase;
			font-weight:900;
			font-size:38px;
			letter-spacing: 1px;

			@media screen and (max-width:$mobile){
				font-size:32px;
				left:0px;
				bottom:30px;
				width:100%;
				text-align:center;
			}
		}
	}

	&__intro{
		margin:60px 30px;
		text-align:center;

		h2{
			margin:20px 0px;
			font-size:52px;
			color:$dark-blue;
			@include raleway();

			@media screen and (max-width:$landscape){
				font-size:36px;
			}
		}

		h3{
			font-size:24px;
			@include droid();
			color:$dark-gray;
			font-weight:400;

			@media screen and (max-width:$landscape){
				font-size:18px;
			}
		}
	}

	&__boxes{
		margin:60px 0px;
		text-align:center;
		.container{
			background-color:$light-gray;
			padding:30px 20px;

			@media screen and (max-width:$sub-portrait){
				width:65%;
				max-width:350px;
				padding:0px 20px;
			}

			@media screen and (max-width:$mobile){
				width:100%;
				max-width:100%;
				padding:0px 0px;
			}
		}

		&__box{
			position:relative;
			display: inline-block;
			padding:30px 30px 100px 30px;
			box-sizing:border-box;
			margin:40px 0 0 0;
			width:31%;
			background:#FFF;
			height:490px;
			vertical-align:top;

			@media screen and (max-width:$landscape){
				height:440px;
				padding:10px 20px 30px;
			}

			@media screen and (max-width:$sub-portrait){
				width:100%;
				margin:20px 0 20px 0;
				height:auto;
				padding:30px 14px 80px 14px;
			}

			@media screen and (max-width:$mobile){
				width:90%;
				max-width:90%;
				padding:30px 30px 80px;
			}

			&:nth-child(even){
				margin:40px 2% 0;

				@media screen and (max-width:$sub-portrait){
					width:100%;
					margin:20px 0 20px 0;
				}
			}

			.img{
				position:relative;
				margin-top:-60px;

				@media screen and (max-width:$sub-portrait){
					margin-top: 10px;
				}

				img{
					width:100%;
					height:auto;
					margin:auto;
				}
			}

			h2{
				font-size:28px;

				@media screen and (max-width:$landscape){
					font-size:22px;
				}

				@media screen and (max-width:$medium){
					font-size:18px;
					min-height:42px;
				}

				@media screen and (max-width:$landscape){
					font-size:22px;
				}
			}

			p{
				font-size:18px;
				line-height:26px;
				color:$dark-gray;

				@media screen and (max-width:$medium){
					font-size:14px;
					min-height:110px;
				}

				@media screen and (max-width:$landscape){
					font-size:16px;
				}

				@media screen and (max-width:$mobile){
					font-size:18px;
				}
			}

			.cta{
				position:absolute;
				width:100%;
				text-align:center;
				bottom:30px;
				left:0px;
			}

		}
	}

	&__reasons{
		padding:30px 30px 60px;
		box-sizing:border-box;
		position:relative;
		.container{
			@include clear();
		}

		&__img{
			position:relative;
			float:left;
			width:30%;

			@media screen and (max-width:$large){
				width:25%;
			}

			@media screen and (max-width:$sub-landscape){
				display: none;
			}

			img{
				width:100%;
				height:auto;
			}
		}

		&__bars{
			position:relative;
			float:left;
			width:66%;
			margin-left:4%;

			@media screen and (max-width:$large){
				width:70%;
			}

			@media screen and (max-width:$sub-landscape){
				width:100%;
				margin-left:0px;
			}

			h2{
				font-size:52px;
				margin:0px 0px 10px;

				@media screen and (max-width:$landscape){
					font-size:36px;
				}
			}

			&__items{
				position:relative;
				display: block;

				.bar{
					position:relative;
					margin-top:20px;

					p{
						margin:4px 0px 10px;
						color:$black;
						font-weight:600;

						@media screen and (max-width:$large){
							font-size:14px;
						}

						@media screen and (max-width:$sub-portrait){
							width:65%;
						}
					}

					.bar_bg{
						position:relative;
						display: block;
						width:100%;
						height:12px;
						background-color:$light-gray;
						overflow:hidden;

						.bar_fg{
							background-color:$dark-blue;
							width:100%;
							height:100%;
							position:absolute;
							@include transition(left 1s linear);

							&.off{
								left:-100% !important;
							}
						}
					}

					.tell_me{
						position:absolute;
						top:0px;
						right:0px;

						a{
							text-transform:uppercase;
							color:$gray;
							@include raleway();
							font-weight:600;

							@media screen and (max-width:$large){
								font-size:14px;
							}
						}
					}
				}
			}
		}
	}

	&__numbered{
		margin:40px 0px;

		.container{
			background-color:$light-gray;
			padding:30px 20px;
			text-align:center;
		}

		&__box{
			display: inline-block;
			vertical-align: top;
			width:28%;
			margin:0 2%;

			@media screen and (max-width:$sub-portrait){
				width:100%;
				max-width:400px;
				margin:0px;
			}

			span.num{
				@include raleway;
				font-size:32px;
				color:$dark-gray;
				font-weight:900;
			}

			p{
				font-size:18px;
				line-height:26px;
				color:$dark-gray;

				@media screen and (max-width:$medium){
					font-size:14px;
					min-height:110px;
				}

				@media screen and (max-width:$landscape){
					font-size:16px;
				}

				@media screen and (max-width:$mobile){
					font-size:18px;
				}
			}
		}
	}
}