form.sub_form{

	vertical-align: top;
	position:relative;

	input,button{
		outline: none;
	}

	input[type='email']{
		@include raleway();
		font-weight:500;
		font-style: italic;
		font-size:14px;
		padding:10px 40px 10px 20px;
		width:250px;
		box-sizing:border-box;
		color:$white;
		@include transition(all .3s linear);
		border:1px solid $dark-blue;

		&:hover{
			background-color:$white;
			border:1px solid $dark-blue;
			color:$dark-gray;
		}

		@media screen and (max-width:$large){
			width:230px;
			padding:10px 40px 10px 10px;
			font-size:12px;
		}

		@media screen and (max-width:$nav-break){
			width:90%;
			padding:10px 40px 10px 10px;
		}

	}

	button{
		display: inline-block;
		position:relative;
		width:38px;
		height:36px;
		color:$white;
		background-color:$dark-blue;
		border:none;
		margin-left: -43px;
		top: 0px;
		font-size:14px;
		cursor: pointer;
		@include transition(all .3s linear);

	    &:hover{
	    	background-color:$dark-gray;
	    	color:$white;
	    }

	    @media screen and (max-width:$large){
			height:34px;
			top:1px;
		}
	}

	@media screen and (max-width:$mobile){
		margin-bottom:20px;
		max-width:300px;
	}
			
}