.header{
	display:block;
	position:fixed;
	width:100%;
	height:100px;
	box-sizing:border-box;
	border-bottom:1px solid $white;
	z-index:999;
	@include transition(all .3s linear);

	@media screen and (max-width:$nav-break){
		height:60px;
		background-color:rgba(0,0,0,.8);
	}

	.container{
		height:100%;
		width:100%;
		padding:0px;
	}

	.logo{
		position:absolute;
		width:340px;
		left:20px;
		top:50%;
		margin-top:4px;
		@include transform(translateY(-50%));
		@include transition(all .3s linear);

		@media screen and (max-width:$super){
			width:290px;
			margin-top: 2px;
		}

		@media screen and (max-width:$nav-break){
			max-width:60%;
			}


		img{
			width:100%;
		}

		&__white{
			opacity:1;
		}

		&__blue{
			opacity:0;
		}
	}

	.nav-toggle{
		position:absolute;
		width:30px;
		height:30px;
		right:18px;
		top:18px;
		cursor: pointer;
		display: none;

		@media screen and (max-width:$nav-break){
			display: block;
		}

		.hamburger{
			@include transform(rotate(0deg));
			@include transition(.5s ease-in-out);
			width:30px;
			height:30px;
			span{
				display: block;
				position: absolute;
				height: 4px;
				width: 100%;
				background: $dark-gray;
				opacity: 1;
				left: 0;
				@include transform(rotate(0deg));
				@include transition(.25s ease-in-out);

				&:nth-child(1) {
				  top: 0px;
				}

				&:nth-child(2),#nav-icon3 span:nth-child(3) {
				  top: 9px;
				}

				&:nth-child(3) {
				  top: 18px;
				}
			}

			&.nav-open{
				span{
					&:nth-child(1) {
					  @include transform(rotate(45deg));
					  top:10px;
					}

					&:nth-child(2) {
					  left:-10px;
					  opacity:0;
					}

					&:nth-child(3) {
					  @include transform(rotate(-45deg));
					  top:10px;
					}

				}
			}
		}
	}

	nav{
		position:relative;
		float:right;
		height:100%;
		text-align:right;
		margin-right:10px;
		@include transition(right .3s linear);

		@media screen and (max-width:$nav-break){
			position:fixed;
			height:auto;
			right:-100%;
			top:60px;
			margin-right:0px;
		    background-color: $dark-gray;
		    width:80%;
		    max-width:400px;
		    text-align:left;
		}

		&.nav-open{
			@media screen and (max-width:$nav-break){
				right:0px;
			}
		}


		ul{
			margin:0px;
			padding:0px;
			top:50%;
			position:relative;
			@include transform(translateY(-50%));

			@media screen and (max-width:$nav-break){
				@include transform(translateY(0%));
				width:100%;
			}

			li{
				display: inline-block;

				@media screen and (max-width:$nav-break){
					display: block;
					border-bottom:1px solid $black;
				}

				a{
					color:$white;
					text-decoration:none;
					font-size:14px;
					margin-right:24px;

					@media screen and (max-width:$large){
						margin-right:18px;
					}

					@media screen and (max-width:$nav-break){
						margin-right:0px;

						&:hover{
					    	 background-color: $black;
					    }
					}
				}
			}
		}

		div{
			display: block;
			height: 100%;
			float: left;

			@media screen and (max-width:$nav-break){
				float:none;
			}
		}

		.nav{
			&__links{
				a{
					@include raleway();
					text-transform: uppercase;
					position:relative;
					padding:6px 0px;

					&.active-bold{
						font-weight:600;
					}

					&:after{
						width:0px;
						height:2px;
						background-color:$white;
						position:absolute;
						left:50%;
						bottom:2px;
						content:'';
						@include transform(translateX(-50%));
						@include transition(width .2s linear);
					}

					&:hover:after,&.active:after{
						width:100%;

						@media screen and (max-width:$nav-break){
							width:0px;
						}
					}

					@media screen and (max-width:$nav-break){
						padding:20px 12px 20px 20px;
						display: block;
					}

				}
				

				margin-right:10px;

				@media screen and (max-width:$nav-break){
					margin-right: 0px;
				}
			}
			&__icons{
				&__search,&__media{
					a{
						font-size:22px;
						margin-right:16px;
						@include transition(width .2s linear);

						&:hover{
							color: $carousel-gray;
						}

						@media screen and (max-width:$large){
							font-size:16px;
							margin-right:20px;
						}
					}

					@media screen and (max-width:$nav-break){
						display: none;
					}
				}

				&__media{
					padding-left:24px;
					border-left:1px solid $white;

					ul{
						margin-top: -5px;
					}

					li{
						i{
							vertical-align: bottom;
						}
					}

					li.blogger{
						text-align: left;
						a{

							svg{
								vertical-align: bottom;

								@media screen and (max-width:$large){
									height:20px;
								}
							}
							.cls-1{
								fill:$white;
								margin-top: 10px;
							}

							&:hover{
								.cls-1{
									fill:$carousel-gray;
								}
							}
						}
					}
				}

				@media screen and (max-width:$nav-break){
					display: none;
				}
			}
		}

		.search_container{
			position:absolute;
			float:none;
			text-align:left;
			height:55px;
			top:100%;
			width:300px;
			margin-top:1px;
			right:190px;
			box-sizing:border-box;
			overflow:hidden;

			&.open{
				.search_wrapper{
					top:0px;
				}
			}

			@media screen and (max-width:$nav-break){
				display: none;
			}
		}

		.search_wrapper{
				position:absolute;
				float:none;
				text-align:left;
				height:auto;
				top:-60px;
				left:0px;
				width:300px;
				right:190px;
				box-sizing:border-box;
				padding:10px;
				background-color: rgba(0, 0, 0, 0.9);
				@include transition(all .2s linear);

				input[type="text"]{
					color:$light-gray;
					@include raleway();
					background:transparent;
					outline:none;
					padding:8px 4px;
					border:none;
					font-size:16px;
					width:230px;
				}

				button{
					position:relative;
					background:transparent;
					outline:none;
					border:none;
					font-size:0px;
					width:35px;
					height:35px;
					vertical-align: top;
					display: inline-block;
					cursor: pointer;

					&:after{
						position:absolute;
						right:0px;
						top:50%;
						width: 100%;
						text-align:center;
						@include transform(translateY(-50%));
						content:'\f1ee';
						font-family: 'Elusive-Icons';
						font-size:18px;
						color:$light-gray;
						@include transition(all .3s linear);
					}

					&:hover{
						&:after{
							color:$dark-gray;
						}
					}
				}
			}
	}
}