.inquiry{
	position:fixed;
	display:block;
	right:-320px;
	top:50%;
	@include transform(translateY(-50%));
	background-color:$light-gray;
	width:320px;
	height:400px;
	padding:10px 20px 30px;
	box-sizing:border-box;
	@include shadow(4px 4px 23px -2px rgba(0,0,0,0.34));
	@include transition(right .3s linear);

	&.open{
		right:0px;
	}

	.handle{
		position:absolute;
		width:60px;
		height:60px;
		background:$white;
		top:40px;
		left:-60px;
		border-left:1px solid $gray;
		border-bottom:1px solid $gray;
		border-top:1px solid $gray;
		box-sizing:border-box;
		cursor: pointer;
		@include transition(all .3s linear);

		&:before{
			content:'\f13c';
			font-family: 'ElusiveIcons';
			display: block;
			position:absolute;
			left:50%;
			top:50%;
			font-size:26px;
			color:$gray;
			@include transform(translate(-50%,-50%));
			margin-top:2px;
		}

		&:hover{
			background-color:$dark-blue;
			border-color:$dark-blue;
		}
	}

	h3{
		color:$dark-blue;
		@include raleway();
		font-size:20px;
		text-transform: uppercase;

	}

	form{
		input[type='text'],input[type='email'],textarea{
			display: block;
			width:100%;
			margin-bottom:10px;
			@include raleway();
			font-size:14px;
			padding:6px;
			box-sizing:border-box;
			border:1px solid $gray;
			outline: none;
		}

		textarea{
			height:80px;
		}

		button{
			cursor: pointer;
			color:$dark-blue;
			font-weight:700;
			padding:10px;
			text-transform: uppercase;
			border:2px $dark-blue;
			@include raleway();
			font-size:14px;
			background-color:$light-gray;
			border:1px solid $dark-blue;
			@include transition(all .3s linear);

			&:hover{
				color:$white;
				background-color:$dark-blue;
			}
		}
	}
}