.search{
	.container{
		padding:10px 30px;
	}

	&__result{
		a{
			color:$dark-blue;
			@include raleway();
		}

		padding:0px 0px 30px;
		border-bottom:1px solid $gray;

		&:last-child{
			border-bottom:none;
		}

	}
}