.lity-iframe .lity-container{
	max-width:480px !important;
    height: 100% !important;
    max-height: 600px !important;
}

.lity-content{
	height:100% !important;
}

.lity-iframe-container{
	height:100% !important;
}

.lity-iframe-container iframe{
	background-color:#FFF !important;
	padding:26px;
}

.lity-close{
	position:absolute !important;
    color: $dark-blue !important;
    text-shadow: none !important;
    right: -4px !important;
    top: -4px !important;
}

.lity-opened{
	background:rgba(0,0,0,.7) !important;
}