/* colors */
$black:#000000;
$dark-blue:#003780;
$white:#FFFFFF;
$light-gray:#edebed;
$gray:#cdc8cd;
$dark-gray:#595559;
$footer-gray:#222222;
$carousel-gray:#808080;

/* breakpoints */

$super:1300px;
$large:1200px;
$nav-break:1080px;
$landscape:1024px;
$portrait:768px;
$sub-portrait:767px;
$mobile:600px;
$phone:480px;